@model BusinessManagementSystem.Models.Models.Supplier
@{
    Layout = "~/Views/Shared/_AddLayout.cshtml";
}

@if (ViewBag.SuccessMsg != null)
{
    <h3 style="font-family: 'Times New Roman', Times, serif; color:green ">@ViewBag.SuccessMsg</h3>
}

@if (ViewBag.FailMsg != null)
{
    <h3 style="font-family: 'Times New Roman', Times, serif; color:red ">@ViewBag.FailMsg</h3>
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Suppliers</h4>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <form class="form-horizontal" method="post">
            <div class="card-body">
                <h4 class="card-title">Add Supplier</h4>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group row">

                            @Html.LabelFor(c => c.Code, null, new { @for = "code", @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(c => c.Code, null, htmlAttributes: new { @class = "form-control", id = "code", placeholder = "Supplier Code Here" })
                                @Html.ValidationMessageFor(c => c.Code, null, new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                @if (ViewBag.codeExist != null)
                                {
                                    <p style="font-family: 'Times New Roman', Times, serif; color:red ">@ViewBag.codeExist </p>
                                }
                            </div>

                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(c => c.Name, null, new { @for = "name", @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(c => c.Name, null, htmlAttributes: new { @class = "form-control", id = "name", placeholder = "Supplier Name Here" })
                                @Html.ValidationMessageFor(c => c.Name, null, new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                @if (ViewBag.nameExist != null)
                                {
                                    <p style="font-family: 'Times New Roman', Times, serif; color:red ">@ViewBag.nameExist </p>
                                }
                            </div>

                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(c => c.Address, null, new { @for = "address", @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(c => c.Address, null, htmlAttributes: new { @class = "form-control", id = "address", placeholder = "Enter Address Here" })
                                @Html.ValidationMessageFor(c => c.Address, null, new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(c => c.Email, null, new { @for = "email", @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(c => c.Email, null, htmlAttributes: new { @class = "form-control", id = "email", placeholder = "Enter Email Address Here" })
                                @Html.ValidationMessageFor(c => c.Email, null, new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                @if (ViewBag.emailExist != null)
                                {
                                    <p style="font-family: 'Times New Roman', Times, serif; color:red ">@ViewBag.emailExist </p>
                                }
                            </div>

                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(c => c.Contact, null, new { @for = "contact", @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(c => c.Contact, null, htmlAttributes: new { @class = "form-control", id = "contact", placeholder = "Enter Contact Number Here" })
                                @Html.ValidationMessageFor(c => c.Contact, null, new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                @if (ViewBag.contactExist != null)
                                {
                                    <p style="font-family: 'Times New Roman', Times, serif; color:red ">@ViewBag.contactExist </p>
                                }
                            </div>

                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(c => c.ContactPerson, null, new { @for = "contactPerson", @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(c => c.ContactPerson, null, htmlAttributes: new { @class = "form-control", id = "contactPerson", placeholder = "Enter Contact Person info Here" })
                                @Html.ValidationMessageFor(c => c.ContactPerson, null, new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>


                </div>
                <div class="border-top">
                    <div class="card-body text-center">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}